#contacts-wrapper {
    display: block;

    min-height: 0;
    min-width: 0;
}

.contact {
    display: table;
    border-spacing: 10px;

    width: 100%;

    background-color: #f8f8f8;
    overflow: hidden;

    margin-bottom: 10px;

    font-size: 30px;
}

.contact .pre {
    margin-right: 16px;
    font-size: 30px;
    color: #6b6b6b;
}

.contact .name {
    text-decoration: none;
    color: black;

    display: block;
}

.contact .name:hover {
    color: #20bcb9;
}

.contact {
    display: flex;
	align-items: center;

	padding: 10px;
}

.contact input {
	width: 60px;
    transform: scale(2);
}

.contact-text {
	text-align: left;
}

.contact-text div {
	margin: 15px 0;
}